<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmojiArt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEF3E4F2272AEFAB00A93527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF3E502272AEFAF00A93527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF3E50C272AEFAF00A93527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
